*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    
}

.hero{
    background: #a0a0a0 ;   /* fffff=white 000000=black*/
    min-height: 100vh;
    width: 100%;
    color: #404040;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav .bg{
    height: 50px;
    margin-right: 30px;
    cursor: pointer;
}

nav ul{
    flex: 1;
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

nav ul li a{
    text-decoration: none;
    color: fff;
}

button{
    background: #efefef;
    width: 60px;
    height: 30px;
    border-radius: 20px; /* how round */
    border: 1;
    outline: 0;
    cursor: pointer; 
    transition: background-color 0.5s, margin-left 0.5;
}

button span{
    display: block;
    background: #999;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    margin-left: 2px;
    transition: background-color 0.5s;
}

.bird-cont{
    position: absolute;
    top: 0;
    left: 7%;
    width: 0;
}

.bird{
    position: absolute;
    width: 600px;
    top: 100%;
    left: 10px;
    transform: translateY(40%);
    opacity: 0;
    transition: opacity 0.5s;
}

.text-container{
    max-width: 600px;
    position: absolute;
    right: 150px;
    top: 30%;
}

.text-container h1{
    font-size: 60px;
    color: black;
}

.text-container p{
    font-family: cursive;
}
.text-container a{
    text-decoration: none;
    background: white;
    padding: 14px 40px;
    display: inline-block;
    border-radius: 10px;
    color: black;
    margin-top: 10px;
    font-size: 18px;
}
.control{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 150px;
}

.control .line{
    width: 250px;
    height: 4px;
    background: #fff;
    margin: 0 20px;
    border-radius: 2px;

}

.control .line span{
    width: 50%;
    height: 8px;
    margin-top: -2px;
    border-radius: 4px;
    background: #00986f;
    display: block;
}

.active{
    background: green;

}

.active span{
    background: #fff;
    margin-left: 31px;
}

.on{
    opacity: 1;
}